.header {
    background: url(/images/skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    height: 265px;
}

@media only screen and (max-width: 700px) {
    .tagline {
        line-height: 1rem;
        font-size: 15px;
    }

    #banner-text {
        line-height: 4rem;
        font-size: 50px;
    }

    .header {
        height: 185px;
    }
}