.footer {
    color: white;
    padding: 20px;
    background-color: rgb(58, 58, 58);
}

.footer .icons {
    font-size: 30px;
}

.footer-nav {
    text-decoration: none;
    color: white;
}

.copyright {
    color: rgb(117, 117, 117);
    font-size: 14px;
}