@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Hepta+Slab&display=swap');

@font-face {
  font-family: 'Bungee-Shade';
  src: url('/fonts/Bungee-Shade.otf');
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@keyframes fadein {
  from {
    background-color: none;
    color: rgb(58, 58, 58);
  }

  to {
    color: white;
  }
}

.is-clickable {
  cursor: pointer;
}

.standard-link {
  text-decoration: none;
}

.standard-link-alternate {
  text-decoration: none;
  color: #628CC0;
}

.standard-link:hover {
  color: rgb(172, 169, 169);
}

.standard-link-alternate:hover {
  color: rgb(110, 148, 194);
}

.link:hover {
  animation: 1s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

.nav-links {
  padding: 20px;
  display: inline;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.divider {
  border: 2px rgb(58, 58, 58) solid;
}

.top-margin {
  margin-top: 20px;
}

.top-margin-bigger {
  margin-top: 80px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.bottom-margin-bigger {
  margin-bottom: 40px;
}

.important {
  color: gray;
}

.underline {
  text-decoration: underline;
}

.important-alternate {
  color: #628CC0;
}

.centered-text {
  text-align: center;
}

.uppercase-text {
  text-transform: uppercase;
}

.indent-text {
  text-indent: 35px;
}

.text-is-strong {
  font-weight: bold;
}

.text-is-bigger {
  font-size: 2em;
}

.border-top {
  border-top: 4px black solid;
}

.no-list-style {
  list-style: none;
}

.tag {
  font-size: 18px;
}

#bio-pic,
#gallery-img {
  width: 500px;
  height: auto;
}

.is-hidden {
  display: none;
}

.contact-img {
  background: url(/images/contactpic.jpg);
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (min-width: 1500px) {
  #bio-pic,
  #gallery-img {
    width: 600px;
    height: auto;
  }

}

@media only screen and (min-width: 701px) {
  .bio-mobile {
    display: none;
  }

  .mobile-div {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 0 auto;
    width: 100%;
  }

  .is-desktop {
    display: none;
  }

  .nav-links {
    top: -75%;
    font-size: 18px;
    border: none;
    padding: 15px;
  }

  .link:hover {
    animation: none;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .mobile-div {
    display: flex;
  }

  .footer {
    padding: 20px;
  }

  #bio-pic,
  #gallery-img {
    width: 100%;
  }
}